.quote-engine-wrapper {
	h5 {
		font-size: 1.5rem;
		font-weight: 600;
		margin: 10px 0 25px 0;
		text-align: center;
	}
}

// .modal-content {
// 	border-radius: 3rem 3rem 0.3rem 0.3rem;
// }
.modal-footer {
	padding: 0.3rem;
	background: $secondary-color;
}
