$primary-color: #3c40c6;
// $primary: $primary-color !default;
// $secondary-color: #ffa801;
$secondary-color: #f53b57;
$text-color: #1e272e;
$text-rev: #f2f2f2;
$white: #fff;
$card-back: #bbcedf;
$shad: #808e9b;
$background: #d2dae2;
