.area-cover {
	padding: 5vh 0;
	.flex-container {
		display: flex;
		flex-wrap: wrap;
		margin-top: 20px;
	}
	.flex-item {
		flex: 1;
		// flex-wrap: wrap;
		min-width: 200px;
		li {
			max-width: 185px;
		}
	}

	.tabs .tab a {
		color: $text-color;
		font-size: 1rem;
		margin-top: -10px;
		text-transform: capitalize;
	}
	.tabs .indicator {
		height: 3px;
		// width: 10%;
		background-color: $secondary-color;
	}
}
